@import url("/asset/scss/utils/_mixin.scss");


// 폰트 설정
body {
  position: relative;
  @include fontFace("Pretendard", 700, "normal", "Pretendard-Bold");
  @include fontFace("Pretendard", 600, "normal", "Pretendard-SemiBold");
  @include fontFace("Pretendard", 500, "normal", "Pretendard-Medium");
  @include fontFace("Pretendard", 400, "normal", "Pretendard-Regular");
  @include fontFace("NanumSquare", 700, "normal", "NanumSquareOTF_0");
  @include fontFace("NanumSquare", 600, "normal", "NanumSquareOTF");
  @include fontFace("NanumSquare", 500, "normal", "NanumSquareOTF_acR");
  @include fontFace("NanumSquare", 400, "normal", "NanumSquareOTF_acL");
  font-family: "Pretendard", "맑은고딕", Arial, sans-serif;
  margin: 0 auto;
}
